MONGODB_URI=mongodb+srv://stumbleleague:cpa9JQVQmIqJt2lA@league22.lvchx5i.mongodb.net/?appName=league22
MONGODB_DB=league22
ADMIN_SETUP_CODE=eslg111111
TRUCO_STORAGE=mongo
CORS_ORIGINS=http://localhost:8080
PORT=5000
